<!DOCTYPE html>
<html>
	<head>
		<title>Product detail</title>
		<meta charset="UTF-8" />
		<meta th:replace="/database.html :: #connection" />
        <link rel="stylesheet" href="main.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
	</head>
	<body>
        <div class="container"
             sql:query="SELECT id, description, price FROM products WHERE id=?"
             sql:params="${param.id}">
            <h1>Product detail</h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <b>Description:</b>
                    <span th:text="${row.DESCRIPTION}">Table</span>
                </li>
                <li class="list-group-item">
                    <b>Price:</b>
                    <span th:text="|£ ${row.PRICE}|">£ 250</span>
                </li>
            </ul>
            <a href="edit.html"
               th:href="@{/edit.html(id = ${row.ID})}"
               class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
            <a href="index.html" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>    
	</body>
</html>
